<div class="form-group">
	<input class="form-control" type="text" name="merk" placeholder="Merk">
</div>
<div class="form-group">
	<input class="form-control" type="text" name="ram" placeholder="RAM (ex. 2GB or 1024MB)">
</div>
<div class="form-group">
	<input class="form-control" type="text" name="kapasitas" placeholder="Kapasitas memori (ex. 1TB or 512GB)">
</div>
<div class="form-group">
	<input class="form-control" type="text" name="prosesor" placeholder="Tipe Prosesor">
</div>
<div class="form-group">
	<input class="form-control" type="text" name="warna" placeholder="Warna">
</div>